@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.testimonial {
  opacity: 0;
  transform: translateY(20px);
  animation: slideInUp 0.5s forwards 0.5s;
}

@keyframes slideInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-item h3 {
  cursor: pointer;
}

.faq-item p {
  display: none;
}

.faq-item h3:hover + p {
  display: block;
}

.feature-card {
  transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
  transform: scale(1.05);
}
